<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_url %>">Blog Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <div class="navbar-header">
            <div class="navbar-brand">
              <li> Hello, <%= current_user.name %></li>
            </div>
          </div>
          <li><%= link_to 'LOGOUT', '/users/sign_out', :method => :delete %></li>
        <% else %>
          <li><a href='/users/sign_in'>LOGIN</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>